# Copyright (c) 2023, CogniPilot Foundation
# Copyright (c) 2025 Croxel Inc.
# SPDX-License-Identifier: Apache-2.0
menuconfig ZROS_SENSE_MAG
  bool "ZROS MAG driver"
  depends on ZROS
  help
    This option enables the MAG driver interface

if ZROS_SENSE_MAG

config ZROS_SENSE_MAG_COUNT
  int "Number of magnetometers"
  default 1
  range 1 4
  help
    Defines number of magnetometers 1-4

module = ZROS_SENSE_MAG
module-str = sense_mag
source "subsys/logging/Kconfig.template.log_config"

endif # ZROS_SENSE_MAG
