# Copyright (c) 2023 CogniPilot Foundation
# Copyright (c) 2025 Croxel Inc.
# SPDX-License-Identifier: Apache-2.0

config ZROS_SENSE_STREAM_IMU
	bool "ZROS IMU Stream driver"
	select SENSOR
	select SENSOR_ASYNC_API
	select SENSOR_THREE_AXIS_REF
	select RTIO
	help
	  This option enables the ZROS IMU Stream driver interface

if ZROS_SENSE_STREAM_IMU

module = ZROS_SENSE_STREAM_IMU
module-str = sense_stream_imu
source "subsys/logging/Kconfig.template.log_config"

endif